<!DOCTYPE html>
<!-- Thymeleafのth属性を使うための名前空間を指定 -->
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0-alpha.6-1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6-1/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/4.0.0-alpha.6-1/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" href="http://necolas.github.io/normalize.css/5.0.0/normalize.css" 
          th:href="@{/webjars/normalize.css/5.0.0/normalize.css}"/>  
    <link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>   
    <link href="/css/html_ListProfile.css" th:href="@{/css/html_ListProfile.css}" rel="stylesheet"/>   
</head>
<body>
<div class="">

	<!-- ==============Header============== -->
    <!-- TODO: make Header-->
    <!--<header th:replace="Include/Header :: Header"></header> -->
    <!-- ==============Header============== -->
    
    <!-- ==============Contents============== -->
    <!-- ||||||||||||||Contents①|||||||||||| -->
    <section class="container">
            <form th:action="@{/operate_form}" th:object="${mydataform}" class="form-horizontal" method="post">
            <fieldset>
                <legend>MyData</legend>
                
                <div class="form-group" th:classappend="${#fields.hasErrors('jpa')}? 'has-error has-feedback'">
                    <div class="col-xs-12 col-sm-6 col-md-9">
				        <label for="jpa" class="control-label"><abbr title="required">*</abbr>JPA</label>
				        <div class="jpa" th:each="item : ${radioItems_jpa}">
					        <label>
					        	<input type="radio" name="jpa" th:value="${item.value}" th:text="${item.key}" th:field="*{jpa}">
					        </label>
			        	</div>
			        	<span th:if="${#fields.hasErrors('jpa')}" th:errors="*{jpa}" class="help-block">error!</span>
                    </div>
                </div>
                
                <div class="form-group" th:classappend="${#fields.hasErrors('sql')}? 'has-error has-feedback'">
                    <div class="col-xs-12 col-sm-6 col-md-9">
				        <label for="sql" class="control-label"><abbr title="required">*</abbr>SQL</label>
				        <div class="sql" th:each="item : ${radioItems_sql}">
					        <label>
					        	<input type="radio" name="sql" th:value="${item.value}" th:text="${item.key}" th:field="*{sql}">
					        </label>
			        	</div>
			        	<span th:if="${#fields.hasErrors('sql')}" th:errors="*{sql}" class="help-block">error!</span>
                    </div>
                </div>
                
               <div class="form-group" th:classappend="${#fields.hasErrors('id')}? 'has-error has-feedback'">
                    <label for="id" class="col-xs-12 col-sm-6 col-md-3 control-label">id</label>
                    <div class="col-xs-12 col-sm-6 col-md-9">
                        <input type="text" id="id" name="id" th:field="*{id}" class="form-control" value="テニス"/>
                        <div th:if="${#fields.hasErrors('id')}" th:errors="*{id}" th:errorclass="err"></div>
                    </div>
                </div>
                         
                <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error has-feedback'">
                    <label for="name" class="col-xs-12 col-sm-6 col-md-3 control-label">Name</label>
                    <div class="col-xs-12 col-sm-6 col-md-9">
                        <input type="text" id="name" name="name" th:field="*{name}" class="form-control" th:value="*{name}" />
                        <div th:if="${#fields.hasErrors('Name')}" th:errors="*{name}" th:errorclass="err"></div>
                    </div>
                </div>
                
                <div class="form-group" th:classappend="${#fields.hasErrors('age')}? 'has-error has-feedback'">
                    <label for="age" class="col-xs-12 col-sm-6 col-md-3  control-label">Age</label>
                    <div class="col-xs-12 col-sm-6 col-md-9">
                        <input type="text" id="age" name="age" th:field="*{age}" class="form-control" value="30"/>
                        <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}" th:errorclass="err"></div>
                    </div>
                </div>
                
                <div class="form-group" th:classappend="${#fields.hasErrors('message')}? 'has-error has-feedback'">
                    <label for="message" class="col-xs-12 col-sm-6 col-md-3  control-label">Message</label>
                    <div class="col-xs-12 col-sm-6 col-md-9">
                        <input type="text" id="message" name="message" th:field="*{message}" class="form-control" value="SE1"/>
                        <div th:if="${#fields.hasErrors('message')}" th:errors="*{message}" th:errorclass="err"></div>
                    </div>
                </div>            
                
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">submit</button>
                    </div>
                </div>
                
            </fieldset>
        </form>
    </section> 
    
    <!-- ||||||||||||||Contents②|||||||||||| -->
    <section class="container">
        <div>
            <h2>一覧</h2>
            <table class="table table-hover table-condensed" >
                <thead class="thead-inverse">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Message</th>
                </tr>
                </thead>
                <tr id="show-modal" class ="show-modal" th:each="mydataBean: ${mydataform.mydatalist}">
                    <td id="userno" th:text="${mydataBean.id}">11</td>
                    <td th:text="${mydataBean.name}">Akira</td>
                    <td th:text="${mydataBean.age}" id="ExpensesCharge">21</td>
                    <td id="userno" th:text="${mydataBean.message}">04/17(木)</td>
                </tr>
            </table>
        </div>
    </section>  
    <!-- ==============Contents============== -->
    
    <!-- ==============modal window============== -->
	<!-- <div th:replace="Include/Modal :: Modal" class="menubar"></div> -->
	<!-- ==============/modal window============== -->
    
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
        th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/quicksearch/2.2.0/src/jquery.quicksearch.js}"></script>

<script type="text/javascript" src="/js/header.js" th:src="@{/js/header.js}"></script>
<script type="text/javascript" src="/js/mordal.js" th:src="@{/js/mordal.js}"></script>
<script type="text/javascript" src="file:///Users/uemototakira/Documents/workspace-sts-3.8.2.RELEASE/HouseholdAccountBook/src/main/resources/static/js/summoney.js" th:src="@{/js/summoney.js}"></script>
<script type="text/javascript" src="file:///Users/uemototakira/Documents/workspace-sts-3.8.2.RELEASE/HouseholdAccountBook/src/main/resources/static/js/mymordal.js" th:src="@{/js/mymordal.js}"></script>
<script type="text/javascript" src="/js/search.js" th:src="@{/js/search.js}"></script>

</body>
</html>